@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Trocchi&display=swap')
	;

* {
	font-family: "Trocchi", serif;
}

body {
	background: linear-gradient(to top, #01041f, #01041f, #01041f, #012F4C, #015979,
		#0183a8) no-repeat center center fixed;
}

button.ui-button {
	margin: 10px;
}

.ui-selectonemenu .ui-selectonemenu-label, .ui-selectonemenu .ui-selectonemenu-items li,
	.ui-inputtext, .ui-inputfield, .ui-autocomplete-items .ui-autocomplete-item,
	.ui-autocomplete-input {
	font-size: 1.5rem;
}

.ui-autocomplete>.ui-inputfield {
	font-family: "Trocchi", serif;
	font-size: 1.5rem !important;
	height: 100%;
	border-width: 3px;
}

@media ( max-width : 767px) {
	.ui-selectonemenu .ui-selectonemenu-label, .ui-selectonemenu .ui-selectonemenu-items li,
		.ui-inputtext, .ui-inputfield, .ui-autocomplete,
		.ui-autocomplete-input {
		font-size: 1.2rem;
	}
	.ui-autocomplete>.ui-inputfield {
		font-size: 1.2rem !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.ui-selectonemenu .ui-selectonemenu-label, .ui-selectonemenu .ui-selectonemenu-items li,
		.ui-inputtext, .ui-inputfield, .ui-autocomplete,
		.ui-autocomplete-input {
		font-size: 1.4rem;
	}
	.ui-autocomplete>.ui-inputfield {
		font-size: 1.4rem !important;
	}
}

@media ( min-width : 992px) {
	.ui-selectonemenu .ui-selectonemenu-label, .ui-selectonemenu .ui-selectonemenu-items li,
		.ui-inputtext, .ui-inputfield, .ui-autocomplete,
		.ui-autocomplete-input {
		font-size: 1.8rem;
	}
	.ui-autocomplete>.ui-inputfield {
		font-size: 1.8rem !important;
	}
}